<div id="existing-forms">
    
</div>

<button ng-click="newForm()" class="btn btn-primary">
    <span style="font-size: 24px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> <br/>
    <span style=" font-weight: bold; font-size: 20px;">สร้าง Form ใหม่</span>
</button>

<div ng-show="show == true">
<!--    <div class="form-containner">
       <div class="font-head">Select Form </div>
       <div>
        <button class="btn btn-info" ng-click="create_radio()"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Multiple Choice</button>
        <button class="btn btn-info" ng-click="create_text()"><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> Text Field</button>
        <button class="btn btn-info" ng-click="create_select()"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Dropdown List</button>
       </div>
    </div>-->
    <div class="form-containner">
    <div class="row">
        <div class="col-md-2">
            <span class="highlight">หัวข้อแบบสอบถาม : </span>
        </div>
        <div class="col-md-10">
            <textarea class="form-control" id="topic"></textarea>
        </div>
    </div><br/>
        <div id="form-list">
            <div class="table-responsive">
                <table class="table table-bordered" id="table-form">
                    <tr>
                        <th width="60%" rowspan="2">
                            <textarea class="form-control" id="header" placeholder="ชื่อชุดแบบสอบถาม"></textarea>
                        </th>
                        <th width="8">มากที่สุด</th>
                        <th width="8">มาก</th>
                        <th width="8">ปานกลาง</th>
                        <th width="8">น้อย</th>
                        <th width="8">น้อยที่สุด</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>
                    <tr class="t-1">
                        <td>
                            <div class="row">
                                <div class="col-md-9">
                                    <textarea class="form-control" id="question-1" placeholder="คำถามข้อที่ 1"></textarea>
                                </div>
                                <div class="col-md-1">
                                    <button id="add" ng-click="addChild(1)" class="btn btn-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> เพิ่มข้อย่อย</button>
                                </div>
                            </div>
                        </td>
                        <td><input type="radio" name="q-1"></td>
                        <td><input type="radio" name="q-1"></td>
                        <td><input type="radio" name="q-1"></td>
                        <td><input type="radio" name="q-1"></td>
                        <td><input type="radio" name="q-1"></td>
                    </tr>
                </table>
                <button id="add" ng-click="add()" class="btn btn-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> เพิ่มคำถาม</button>
            </div>
        </div>
    </div>

    <div class="form-button" >
        <button style="font-size: 20px;" id="add" ng-click="save()" class="btn btn-success"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> สร้างแบบสอบถาม</button>
    </div>
</div>

<div ng-show="show_list == true">
<div id="form-list-select"></div>
    <div class="form-button">
    <input type="button" ng-click="poll()" class="btn btn-success" value="Submit"/>
    </div>
</div>